@import '../../../styles/abstracts/variables.scss';

.TitleContainer {
  font-family: $primary-medium;
  font-size: 1.7rem;
  background-color: $white;
  margin-bottom: 20px;
  padding: 20px;

  .Icon {
    color: #1890ff;
    margin-right: 10px;
  }
}