@import '../../../../../../styles/abstracts/variables.scss';

.Error {
  margin-top: 4px !important;
  color: $blood-burst;
}

.FormItem {
  display: flex;
  margin: 0 !important;

  label {
    min-width: 200px;
  }
}