@import '../../../../../../styles/abstracts/variables.scss';

.Error {
  margin-top: 4px !important;
  color: $blood-burst;
}

.TextAreaWrapper {
  div {
    display: flex;

    &:nth-child(1) {
      min-width: 200px;

      label {}
    }

    &:nth-child(2) {
      div {
        div {
          textarea {}
        }
      }
    }
  }
}