@import '../../../../../../styles/abstracts/variables.scss';

.UploadThumbnail {
  height: 100%;

  div:nth-child(1) {
    width: 100% !important;
    height: 100% !important;
    vertical-align: middle;
  }
}

.Error {
  color: $blood-burst;
}