@import '../../../../../../styles/abstracts/variables.scss';

.Error {
  color: $blood-burst;
}

.UploadThumbnailDefault {
  height: 100%;

  div:nth-child(1) {
    width: 100% !important;
    height: 100% !important;
    vertical-align: middle;
  }
}


.UploadThumbnailWithError {
  @extend .UploadThumbnailDefault;
  
  height: 75%;
}

@media (max-width: 575px) {
  .UploadThumbnailDefault {
    padding: 20px 0 0 0;
  }

  .UploadThumbnailWithError {
    height: max-content;
    // padding: 0;
  }

  .Error {
    width: 100%;
  }
}
