@import '../../../../../../styles/abstracts/variables.scss';

.Error {
  margin-bottom: 20px;
  color: $blood-burst;
  margin-left: 200px;
}

@media (max-width: 469px) {
  .Error {
    margin-left: 0;
  }
}

.FormItem {
  display: flex;

  label {
    min-width: 200px;
  }

  .DatePicker {
    width: 100%;
  }
}
