@import '../../../../../../styles/abstracts/variables.scss';

.Error {
  color: $blood-burst;
  margin-left: 200px;
}

@media (max-width: 469px) {
  .Error {
    margin-left: 0;
  }
}

.FormItem {
  display: flex;
  margin-bottom: 0 !important;

  label {
    min-width: 200px;
  }
}