@import '../../../../../../styles/abstracts/variables.scss';

.Error {
  margin-top: -20px !important;
  color: $blood-burst;
  margin-left: 200px;
}

@media (max-width: 469px) {
  .Error {
    margin-left: 0;
  }
}

.InputWrapper {
  div {
    display: flex;

    &:nth-child(1) {
      min-width: 200px;

      label {}
    }

    &:nth-child(2) {
      div {
        div {
          input {}
        }
      }
    }
  }
}