@import '../../../../../../styles/abstracts/variables.scss';

.Error {
  margin-top: -20px !important;
  color: $blood-burst;
}

.InputWrapper {
  div {
    display: flex;

    &:nth-child(1) {
      flex: 1;

      label {}
    }

    &:nth-child(2) {
      flex: 6;

      div {
        div {
          input {}
        }
      }
    }
  }
}