@import "../../../../../../styles/abstracts/variables.scss";

.TagsFormItem {
  display: flex;

  label {
    width: 200px;
    white-space: normal;
    text-align: left;
  }

  .TagsContainer {
    .Tags {
      margin-bottom: 5px;
      border-radius: 7px;
    }
  }

  .AddTagContainer {
    .AddTagInput {
      width: min-content;
      border-radius: 7px;
    }

    .AddTagButton {
      background-color: $ghost;
      width: min-content;
      border-radius: 7px;
      margin-bottom: 5px;
      border-radius: 7px;
    }
  }
}
