@import '../abstracts/variables.scss';

html,
body {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 300 !important;
    font-family: $primary-regular;
    font-size: $base-font-size;
  }

  .no-shadow {
    outline: none !important;
    box-shadow: none !important;
    background: transparent !important;
  }

  .ant-btn-loading::before {
    @extend .no-shadow;
  }

  .ant-input:focus {
    @extend .no-shadow;
  }

  .ant-table-title {
    border: none !important;
    padding: 16px 0;
  }
  
  .ant-table {
    .ant-table-container {
      border-top-right-radius: 7px !important;
      border-top-left-radius: 7px !important;
    }
    
    tr:first-child {
      th:first-child {
        border-top-left-radius: 7px !important;
      }
      th:last-child {
        border-top-right-radius: 7px !important;
      }
    }

    tr:last-child {
      td:first-child {
        border-bottom-left-radius: 7px !important;
      }
      td:last-child {
        border-bottom-right-radius: 7px !important;
      }
    }
  }

  .ant-table-body, .ant-table-container {
    border-bottom-left-radius: 7px !important;
    border-bottom-right-radius: 7px !important;
  }
}

body {
  height: auto;
  background-color: $errigal-white;
}

@media only screen and (max-width: 991px) {
  body {
    font-size: $tablet-font-size;
  }
}

@media only screen and (max-width: 767px) {
  body {
    font-size: $mobile-font-size;
  }
}
