@import '../../../../../../styles/abstracts/variables.scss';

.AddButton {
  width: 100%;
  border-color: $ghost !important;
  border-radius: 7px !important;

  &:hover {
    color: gray !important;
  }
}